# ── App ────────────────────────────────────────────────────
DEBUG=True
ALLOWED_ORIGINS=["http://localhost:5173"]
FRONTEND_URL=http://localhost:5173

# ── Supabase ───────────────────────────────────────────────
SUPABASE_URL=
SUPABASE_KEY=

# ── JWT ────────────────────────────────────────────────────
JWT_SECRET=
JWT_ALGORITHM=
ACCESS_TOKEN_EXPIRE_MINUTES=
REFRESH_TOKEN_EXPIRE_DAYS=

# ── Brevo ──────────────────────────────────────────────────
BREVO_SENDER_EMAIL=
BREVO_SENDER_NAME=
BREVO_SMTP_LOGIN=
BREVO_SMTP_PASSWORD=